<% include admin_header.ejs %>

<div id="wrap_titles" style="text-align:center">
<h1>Títulos</h1>

<table style="margin:0 auto">
	<thead>
		<tr>
			<td>Nombre</td><td>Apellidos</td><td>DNI</td><td>Teléfono</td><td>Curso</td><td>Horas</td><td>Inicio</td><td>Fin</td><td>Código</td>
		</tr>
	</thead>

	<tbody>

<% for(var i in titulos) { %>
	<tr>

		<td><%= titulos[i].nombre %></td>
		<td><%= titulos[i].apellidos %></td>
		<td><%= titulos[i].dni %></td>
		<td><%= titulos[i].telefono %></td>
		<td><%= titulos[i].curso %></td>
		<td><%= titulos[i].horas %></td>
		<td><%= titulos[i].codigo %></td>
		<td><%= titulos[i].inicio %></td>
		<td><%= titulos[i].fin %></td>
		<td><a href="/titles/<%= titulos[i].id %>/render">Renderizar</a></td>
		<td><a href="/titles/<%= titulos[i].id %>/edit">Editar</a></td>
		<td><a href="/titles/<%= titulos[i].id %>/delete">Eliminar</a></td>

	</tr>
<% } %>

	</tbody>
</table>